# version: '3.0' (19/10/2025)
# Services version: MQTT Server(2.0.22), Zigbee2MQTT Server(2.6.2), Domoticz Server(2025.1), Homebride Server(2025-09-28)

networks:
  default:
    driver: bridge
    ipam:
     config:
       - subnet: 172.100.0.0/16
         gateway: 172.100.0.1
         
services:
# MQTT Server
  mqtt:
    container_name: mosquitto
    image: eclipse-mosquitto:2.0.22
    restart: unless-stopped
    environment:
      - TZ=${TZ}    
    volumes:
      - ${ROOT_FOLDER}/mosquitto/config:/mosquitto/config
      - ${ROOT_FOLDER}/mosquitto/data:/mosquitto/data
      - ${ROOT_FOLDER}/mosquitto/log:/mosquitto/log
    networks:
      - default
    ports:
      - 1883:1883
    logging:
        driver: "json-file"
        options:
            max-file: 2
            max-size: 10m

# NUT Network UPS Tool Daemon
  ups:
    container_name: nut-upsd
    image: botsudo/nut-upsd:latest
    restart: no
    environment:
      - TZ=${TZ}
      - UPS_DRIVER=${UPS_DRIVER}
      - UPS_PORT=${UPS_PORT}
    privileged: true
    devices:
      - /dev/bus/usb:/dev/bus/usb
    networks:
      - default
    ports:
      - 3493:3493
    logging:
        driver: "json-file"
        options:
            max-file: 2
            max-size: 10

# Zigbee2MQTT Server
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.6.2
    restart: unless-stopped
    depends_on:
      - mqtt
    environment:
      - TZ=${TZ}    
    devices:
      - ${ZIGBEE_DEVICE}:/dev/ttyACM0
    volumes:
      - /${ROOT_FOLDER}/zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    networks:
      - default
    ports:
      - 8081:8080
    logging:
        driver: "json-file"
        options:
            max-file: 2
            max-size: 10m

# Domoticz Server
  domoticz:
    container_name: domoticz
    image: domoticz/domoticz:2025.1
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - WWW_PORT=80
    devices:
      - ${DOMOTICZ_ACM0_DEVICE}:/dev/ttyACM0
      - ${DOMOTICZ_ACM1_DEVICE}:/dev/ttyACM1
    volumes:
      - ${ROOT_FOLDER}/domoticz:/opt/domoticz/userdata
      - /sys:/sys
    network_mode: host
    extra_hosts:
      - mqtt:127.0.0.1
    ports:
      - 80:80
      - 443:443
      - 6144:6144
      - 1443:1443

# Homebride Server
  homebridge:
    container_name: homebridge
    image: homebridge/homebridge:2025-09-28
    restart: unless-stopped
    environment:
      - HOMEBRIDGE_CONFIG_UI_PORT=8581
    depends_on:
      - domoticz
    volumes:
      - ${ROOT_FOLDER}/homebridge:/homebridge
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-file: 2
        max-size: 10m

# Alexa Cookie Proxy
  alexa-cookie:
    container_name: alexa-cookie
    image: domoniquesmarthome/alexa-cookie-cli:latest
    restart: unless-stopped
    environment:
      - ALEXA_PROXY_HOST=${ALEXA_PROXY_HOST}
      - ALEXA_PROXY_PORT=${ALEXA_PROXY_PORT} 
    volumes:
      # Path to alexa_remote_control.sh file that will be updated with REFRESH_TOKEN
      - ${ROOT_FOLDER}/domoticz/scripts/bash/alexa_remote_control.sh:/data/alexa_remote_control.sh
    ports:
      - 8888:8888